*{
  margin: 0;
  padding: 0;
}

body {
  color: #000000;
  font-family: Andele Mono;
  font-size: 20px;
  text-align: center;
}

h1 {
  margin: 30px;
}

.meals {
  height: 400px;
  width: 400px;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
}

.meal {
  background-color: steelblue;
  border: 1px solid #000080;
  margin: 2px;
  padding: 10px 40px;
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.meal button {
  background-color: #0000;
  color: powderblue;
  border: none;
  font-family: Andele Mono;
  font-size: 30px;
  outline: none;
  cursor: pointer;
}

.voteCount {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
